#nas-tim {
  background: #16283F; /**/
}

.nas-tim-naslov {
  text-align: center;
  font-family: Gilroy-ExtraBold, sans-serif;
  color: white;
  font-size: 50px;
  margin-bottom: 50px;
}

.nas-tim-span {
  color: rgba(66, 189, 222, 1);
}
.sadrzaj{
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  text-shadow: 8px 8px 8px #16283F;;
}
.imePrezime{
  text-align: center;
}
.imePrezime h2{
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.imePrezime h3{
  font-size: 16px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.dugmiciMreze{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.dugmiciMreze img{
  width: 100%;
  height: auto;
  margin: 10px;
}


/******************/
/*******nas tim*************/
.nas-team {
  width: 100%;
  background: #16283F;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}



/*****slider***********/
.sliderTeam{
  width: 90%;
 
}

.cardTeam{
  width: 90%;
  height: auto;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTeam img {
  width: 100%;
  height: auto;
  display: block;
  outline: none;
  text-decoration:none
}

@media (max-width: 1024px) {
  .sliderTeam{
    width: 90%;
  }

  .cardTeam{
    width: 85%;
    height: auto;
    color: white;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imePrezime h2{
    font-size: 16px;
    font-weight: bold ;
  }
  .imePrezime h3{
    font-size: 14px;
  }
  .dugmiciMreze{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 700px) {
  .sliderTeam{
    width: 100%;
  }
  .cardTeam{
    width: 95%;
    margin-left: 5px;
  }
}