.timeLineWrap{
  background: #16283F;
  margin-top: 5%;
}
h4 {
    padding-top: 0.25em;
    color: rgba(66, 189, 222, 1);
  }
  .vertical-timeline-element-content {
    box-shadow: none!important;
    padding: 2em 3em !important;
  }
  .date {
    color: rgb(201, 251, 255);
  }
  
  #description {
    margin: 1.5em 0 2em 0;
  }
  
  .workButton {
    background-color: rgba(66, 189, 222, 1);
  }
  
  .workButton:hover {
    background-color: rgba(66, 189, 222, 1);
  }
  
  .schoolButton {
    background-color: rgba(66, 189, 222, 1);
  }
  
  .schoolButton:hover {
    background-color: rgba(66, 189, 222, 1);
  }
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block ;
      float: none ;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }

  @media only screen and (max-width: 440px) {
    .timeLineWrap{
      background: #16283F;
      margin-top: 17.5rem;
    }
  }
  