body{
  background: #16283F;
}

.najcesca-pitanja::before,
.najcesca-pitanja::after {
  box-sizing: inherit;
}

.najcesca-pitanja {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 20px;
  color: #16283F;
  background: #16283F;
}

.najcesca-pitanja-naslov {
  text-align: center;
  color: rgba(66, 189, 222, 1);
  font-size: 50px;
  margin-bottom: 50px;
  padding-top: 100px;
}

.najcesca-pitanja-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.najcesca-pitanja-row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.najcesce-pitanje {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 45%;
  margin: 10px 20px;
  height: 100px;
  transition: height 750ms;
}

.krug-zatvoreno-pitanje {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  top: 27px;
  right: 20px;
  margin-left: 20px;
}

.krug-otvoreno-pitanje {
  width: 30px;
  height: 30px;
  background-color: rgba(66, 189, 222, 1);
  border-radius: 50%;
  position: absolute;
  top: 27px;
  right: 20px;
  margin-left: 20px;
  display: none;
}

.pitanje-link {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.pitanje-tekst {
  background-color: whitesmoke;
  margin-right: 20px;
  width: 90%;
}

.odgovor {
  margin-top: 5px;
  background-color: whitesmoke;
  height: 0px;
  overflow: hidden;
  position: relative;
  transition: height 750ms;
}

.odgovor::before {
  transform: translateY(-50%);
}

.odgovor p {
  font-size: 15px;
  padding: 5px;
  background-color: whitesmoke;
}

.najcesce-pitanje:hover {
  height: 240px;
}
.najcesce-pitanje:hover .odgovor {
  height: 120px;
}

#pitanje1:hover {
  height: 400px;
}

#pitanje1:hover #dugacakOdgovor {
  height: 275px;
}

#pitanje2:hover {
  height: 140px;
}

#pitanje2:hover #kratakOdgovor {
  height: 60px;
}

#pitanje4:hover {
  height: 140px;
}

#pitanje4:hover #kratakOdgovor {
  height: 60px;
}

#pitanje5:hover {
  height: 140px;
}

#pitanje5:hover #kratakOdgovor {
  height: 60px;
}
#pitanje7:hover {
  height: 160px;
}

#pitanje7:hover #kratakOdgovor {
  height: 60px;
}

.najcesce-pitanje:hover .pitanje-link .krug-zatvoreno-pitanje {
  display: none;
}

.najcesce-pitanje:hover  .pitanje-link .krug-otvoreno-pitanje {
  display: block;
}

@media screen and (max-width: 1152px) {
  .najcesce-pitanje {
    width: 100%;
  }
  .najcesce-pitanje:hover {
    height: 200px;
  }
  .najcesce-pitanje:hover .odgovor {
    height: 100px;
  }
  #pitanje1:hover {
    height: 285px;
  }
  
  #pitanje1:hover #dugacakOdgovor {
    height: 185px;
  }
}

@media screen and (max-width: 753px) {
  #pitanje1:hover {
    height: 350px;
  }
  #pitanje1:hover #dugacakOdgovor {
    height: 230px;
  }
}
@media screen and (max-width: 660px) {
  .najcesce-pitanje {
    width: 100%;
    height: 125px;
  }
  .najcesce-pitanje:hover {
    height: 385px;
  }
  .najcesce-pitanje:hover .odgovor {
    height: 265px;
  }
  .pitanje-tekst {
    height: 75px;
    width: 87%;
  }
  #pitanje1:hover {
    height: 450px;
  }
  #pitanje1:hover #dugacakOdgovor {
    height: 330px;
  }
  #pitanje2:hover {
    height: 240px;
  }
  
  #pitanje2:hover #kratakOdgovor {
    height: 120px;
  }
  #pitanje4:hover {
    height: 240px;
  }
  
  #pitanje4:hover #kratakOdgovor {
    height: 120px;
  }
  #pitanje5:hover {
    height: 240px;
  }
  
  #pitanje5:hover #kratakOdgovor {
    height: 120px;
  }
  #pitanje7:hover {
    height: 240px;
  }
  
  #pitanje7:hover #kratakOdgovor {
    height: 120px;
  }
  
}
@media screen and (max-width: 500px) {
  #pitanje1:hover {
    height: 770px;
  }
  #pitanje1:hover #dugacakOdgovor {
    height: 650px;
  }
}
